   <h2 class="">Mini Bio</h2>
    <hr style="" class="">
    <p>
        Hi-Ho! My name is Mollie. I am currently an SD&T student at Year Up Puget Sound (at Seattle Central College). I am currently learning how to embody professional skills and norms to help me succeed in the professional business world. (I Love traveling and Disney, the picture above I took while in line for Radiator Springs Racers at Disneyland this past summer)

      I currently have some skills I naturally excel in, some of those are: working & leading group projects, cleaning/ applying formatting to Microsoft Office Excel sheets, having expressive communication skills and be proactive on my work. Having expressive communications skills has helped and lead me to the job I currently am at, being a cashier at QFC.

      Outside of work and school I spend time playing music, and spending time with my pets.
       I love animals, I have a cat, two dogs and a rabbit. ( I use to have a pet duck!)
      Music is an aspiration and motivator of mine.
      Jim Henson is my biggest role model.
  

      "When I was young, my ambition was to be one of the people who made a difference in this world. My hope is to leave the world a little better for having been there."- Jim Henson
    </p>