 <!-- Header/Home -->
  <header class="" id="home">
   
    <h1 class=""><span class=""></span> Mollie Wagner</h1>
    <hr style="" class="">
    <h4>Musician and Tech. Student</h4>
 
  <img class="spotlight" alt="No photo description available." aria-busy="false" src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/10347813_914115155362201_269018161026000260_n.jpg?_nc_cat=101&amp;_nc_ohc=lWlWeBQiLxAAQkaDPcZa_ebdRY5NE2fDsSz5MvoNgriQEdRuyhPiCx0Bg&amp;_nc_ht=scontent-sea1-1.xx&amp;oh=5951cf3db9dec9c69c081f759d38b228&amp;oe=5E82B0CF" style="width: 960px; height: 720px;">

  </header>