 <h2 class="">Musical Training</h2>  
     <hr style="" class="">
     <img class="responsive" src="https://media2.fdncms.com/stranger/imager/u/original/25518356/soundcheck-570.jpg" alt="Image result for seattle drum school" width="570" height="400" style="">
    <h3> Beginning of my career started here </h3>
    <h4> 3 years of Singing/Piano lessons </h4>

    <p> Seattle Drum School, Northgate location </p>
    
  
 
 
   <img class="responsive" src="https://www.westsideseattle.com/sites/default/files/images/The%20Highline%20Times%20/%20Des%20Moines%20News/%5Byyyy%5D/%5Bmm%5D/Update--HSD.JPG" alt="Image result for highline high" width="602" height="403" style="">
   
   
    <h3> 1 Year of training was here</h3>
    <h4> Singing 1st Seprano </h4>
    <p> Highline High 2014-2015 Choir </p>
 

<img class="responsive" src="https://image2.slideserve.com/4566376/bow-lake-elementary-school1-l.jpg" alt="Image result for bowlake elementary school" width="602" height="452" style="">

  <h3> 2 Years of training was here</h3>
    <h4> Singing 1st Seprano </h4>
    <p> Bowlake Choir 2009-2011</p>


<img class="responsive" src="https://zenprospect-production.s3.amazonaws.com/uploads/pictures/5db0fe65998bda000113c6bc/picture" width="200" height="200" style="" alt="Image result for angle lake neighborhood church">
      <h3> 8 Years of training was here</h3>
    <h4> Singing/Playing Various Instruments </h4>
    <p> Angle Lake Neighborhood Church</p>
  <!-- End About Section -->
 